#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Modified keymap based on personal experience, with some improvements based on Miryoku layout.

#define QWERTY  0
#define COLDH   1
#define NAV     2
#define NUM     3
#define FUN     4
#define ILLUST  5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // combos for media
        combo_med_next {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp C_NEXT>;
        };
        combo_med_prev {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp C_PREV>;
        };
        combo_med_pp {
            timeout-ms = <50>;
            key-positions = <1 4>;
            bindings = <&kp C_PP>;
        };
        combo_med_stop {
            timeout-ms = <50>;
            key-positions = <1 3>;
            bindings = <&kp C_STOP>;
        };
        combo_med_vol_up {
            timeout-ms = <50>;
            key-positions = <2 13>;
            bindings = <&kp C_VOL_UP>;
        };
        combo_med_vol_dn {
            timeout-ms = <50>;
            key-positions = <3 12>;
            bindings = <&kp C_VOL_DN>;
        };
        combo_med_mute {
            timeout-ms = <50>;
            key-positions = <12 14>;
            bindings = <&kp C_MUTE>;
        };

        // combo for switching to colemak
        combo_tg_colemak {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&tog COLDH>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    E    |    R    |    T    |                      |    Y    |    U    |    I    |    O    |    P    |
// |    A    |    S    |    D    |    F    |    G    |                      |    H    |    J    |    K    |    L    |    '    |
// |    Z    |    X    |    C    |    V    |    B    |                      |    N    |    M    |    ,    |    .    |    /    |
//                               |   DEL   |  SPACE  |   TAB    | |  BSPC   |  ENTER  |   DEL   |
            bindings = <
    &kp Q       &kp W       &kp E           &kp R           &kp T                           &kp Y       &kp U       &kp I       &kp O        &kp P
    &hm LGUI A  &hm LALT S  &hm LSHFT D     &hm LCTRL F     &kp G                           &kp H       &hm LCTRL J &hm LSHFT K &hm LALT L   &hm LGUI SQT
    &kp Z       &hm RALT X  &kp C           &kp V           &kp B                           &kp N       &kp M       &kp COMMA   &hm RALT DOT &kp FSLH
                            &kp DEL         &lt NUM SPACE   &kp TAB                         &kp BSPC    &lt NAV RET &lt FUN ESC
            >;
        };

        colemak_dh {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    F    |    P    |    B    |                      |    J    |    L    |    U    |    Y    |    '    |
// |    A    |    R    |    S    |    T    |    G    |                      |    M    |    N    |    E    |    I    |    O    |
// |    Z    |    X    |    C    |    D    |    V    |                      |    K    |    H    |    ,    |    .    |    /    |
//                               |   DEL   |  SPACE  |   TAB    | |  BSPC   |  ENTER  |   DEL   |
            bindings = <
    &kp Q       &kp W       &kp F           &kp P           &kp B                           &kp J       &kp L       &kp U       &kp Y        &kp SQT
    &hm LGUI A  &hm LALT R  &hm LSHFT S     &hm LCTRL T     &kp G                           &kp M       &hm LCTRL N &hm LSHFT E &hm LALT I   &hm LGUI O
    &kp Z       &hm RALT X  &kp C           &kp D           &kp V                           &kp K       &kp H       &kp COMMA   &hm RALT DOT &kp FSLH
                            &kp DEL         &lt NUM SPACE   &kp TAB                         &kp BSPC    &lt NAV RET &lt FUN ESC
            >;
        };

        nav_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |         |         |         |         |         |                      |   REDO  |  PASTE  |   COPY  |   CUT   |  UNDO   |
// |   WIN   |   ALT   |   CTRL  |  SHIFT  |         |                      |   CAPS  |   LEFT  |   DOWN  |   UP    |  RIGHT  |
// |         |         |         |         |         |                      |   INS   |   HOME  |   PGDN  |   PGUP  |   END   |
//                               |         |         |       |    |  ENTER  |  BSPC   |   DEL   |
            bindings = <
    &kp HOME  &kp PG_UP     &kp UP      &kp PG_DN       &kp CAPS                            &none       &none       &none       &none       &none
    &kp END   &kp LEFT      &kp DOWN    &kp RIGHT       &kp LC(Z)                           &none       &kp LCTRL   &kp LSHFT   &kp LALT    &kp LGUI
    &kp LC(Z) &kp LC(LEFT)  &none       &kp LC(RIGHT)   &kp LC(Y)                           &none       &none       &none       &none       &none
                            &kp LC(X)   &kp LC(C)       &kp LC(V)                           &none       &none       &none     
            >;
        };

//        sym_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    {   |    &   |    *   |   (    | } |                      |         |         |         |         |         |
// |    :   |    $   |    %   |   ^    | + |                      |         |  SHIFT  |   CTRL  |   ALT   |   GUI   |
// |    ~   |    !   |    @   |    #   | |  |                      |         |         |         |         |         |
//                               |   APP   |  SPACE  |  TAB  |    |         |         |         |
//            bindings = <
//    &none     &none     &none      &none     &none                              &kp LBRC  &kp AMPS  &kp STAR  &kp LPAR   &kp RBRC                             
//    &none     &kp LCTRL &kp LSHFT  &kp LALT  &kp LGUI                           &kp COLON &kp DLLR  &kp PRCNT &kp CARET  &kp PLUS
//    &none     &none     &none      &none     &none                              &kp TILDE &kp EXCL  &kp AT    &kp HASH   &kp PIPE                             
//                                    &trans       &none     &none  &kp LPAR   &kp RPAR &kp UNDER
//            >;
//        };

        num_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   [   |    7   |    8   |    9   | ] |                      |         |         |         |         |         |
// |   ;   |    4   |    5   |    6   | = |                      |         |  SHIFT  |   CTRL  |   ALT   |   GUI   |
// |   `   |    1   |    2   |    3   |  \  |                      |         |         |         |         |         |
//                               |   .   |  0      |  -  |    |         |         |         |
            bindings = <
    &none     &none     &none      &none     &none                          &kp LBKT  &kp N7   &kp N8    &kp N9    &kp RBKT                             
    &none     &kp LCTRL &kp LSHFT  &kp LALT  &kp LGUI                  &kp SEMI  &kp N4   &kp N5    &kp N6    &kp EQUAL                        
    &none     &none     &none      &none     &none                          &kp GRAVE &kp N1   &kp N2    &kp N3    &kp BSLH                             
                                &none       &trans     &none                &kp DOT   &kp N0 &kp MINUS     
            >;
        };

        fun_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   F12   |    F7   |    F8   |    F9   | PRT_SCR |                      |         |         |         |         |         |
// |   F11   |    F4   |    F5   |    F6   | SCL_LCK |                      |         |  SHIFT  |   CTRL  |   ALT   |   GUI   |
// |   F10   |    F1   |    F2   |    F3   |  PAUSE  |                      |         |         |         |         |         |
//                               |   APP   |  SPACE  |  TAB  |    |         |         |         |
            bindings = <
    &kp F12  &kp F7   &kp F8    &kp F9    &kp PSCRN                             &none     &none     &none      &none     &none
    &kp F11  &kp F4   &kp F5    &kp F6    &kp SLCK                          &none     &kp LCTRL &kp LSHFT  &kp LALT  &kp LGUI
    &kp F10  &kp F1   &kp F2    &kp F3    &kp PAUSE_BREAK                             &none     &none     &none      &none     &none
                                &kp K_APP   &kp SPACE &kp TAB     &none       &none     &trans
            >;
        };

        illust_fun_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   F12   |    F7   |    F8   |    F9   | ; |                      |         |         |         |         |         |
// |   F11   |    F4   |    F5   |    F6   | - |                      |         |    |     |      |      |
// |   F10   |    F1   |    F2   |    F3   |  =  |                      |         |         |         |         |         |
//                               |   ALT   |  UNDO  |  REDO  |    |         |         |         |
            bindings = <
    &kp F12  &kp F7   &kp F8    &kp F9    &kp SEMI                              &none     &none     &none      &none     &none
    &kp F11  &kp F4   &kp F5    &kp F6    &kp MINUS                          &none     &none &none  &none &none
    &kp F10  &kp F1   &kp F2    &kp F3    &kp EQUAL                             &none     &none     &none      &none     &none
                    &sk LALT   &mt LSHFT LC(Z)  &mt LCTRL LC(Y)     &none       &none     &none
            >;
        };


//        media_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |         |         |         |         |         |                      |         |         |         |         |         |
// |   WIN   |   ALT   |   CTRL  |  SHIFT  |         |                      |         |   PREV  |  VOLUP  |  VOLDN  |   NEXT  |
// |         |         |         |         |         |                      |         |         |         |         |         |
//                               |         |         |       |    |  STOP   |  PLAY   |   MUTE  |
//            bindings = <
//    &none    &none    &none     &none      &none                             &none     &none      &none          &none             &none
//    &kp LGUI &kp LALT &kp LSHFT &kp LCTRL &none                             &none     &kp C_PREV &kp C_VOL_UP   &kp C_VOL_DN    &kp C_NEXT
//    &none    &none    &none     &none     &none                             &none     &none      &none          &none             &none
//                                &trans     &none     &none       &kp C_STOP  &kp C_PP  &kp C_MUTE     
//            >;
//        };
    };
};