#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// The default keymap is based on Miryoku layout (https://github.com/manna-harbour/miryoku).
// Customize on your own on the config folder.

#define BASE    0
#define NAV     1
#define SYM     2
#define NUM     3
#define FUN     4
#define MEDIA   5

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    E    |    R    |    T    |                      |    Y    |    U    |    I    |    O    |    P    |
// |    A    |    S    |    D    |    F    |    G    |                      |    H    |    J    |    K    |    L    |    ;    |
// |    Z    |    X    |    C    |    V    |    B    |                      |    N    |    M    |    ,    |    .    |    /    |
//                               |   ESC   |  SPACE  |   TAB    | |  ENTER  |  BSPC   |   DEL   |
            bindings = <
    &kp Q       &kp W       &kp E       &kp R       &kp T                           &kp Y       &kp U           &kp I       &kp O       &kp P
    &mt LGUI A  &mt LALT S  &mt LCTRL D &mt LSHFT F &kp G                           &kp H       &mt RSHFT J    &mt RCTRL K  &mt RALT L  &mt RGUI SEMI
    &kp Z       &kp X       &kp C       &kp V       &kp B                           &kp N       &kp M           &kp COMMA   &kp DOT     &kp FSLH
                            &lt MEDIA ESC   &lt NAV SPACE   &kp TAB     &lt SYM RET &lt NUM BSPC    &lt FUN DEL
            >;
        };

        nav_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |         |         |         |         |         |                      |   REDO  |  PASTE  |   COPY  |   CUT   |  UNDO   |
// |   WIN   |   ALT   |   CTRL  |  SHIFT  |         |                      |   CAPS  |   LEFT  |   DOWN  |   UP    |  RIGHT  |
// |         |         |         |         |         |                      |   INS   |   HOME  |   PGDN  |   PGUP  |   END   |
//                               |         |         |       |    |  ENTER  |  BSPC   |   DEL   |
            bindings = <
    &none    &none    &none     &none      &none                            &kp LC(Y) &kp LC(V) &kp LC(C) &kp LC(X) &kp LC(Z)
    &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &none                             &kp CAPS  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT
    &none    &none    &none     &none     &none                             &kp INS   &kp HOME  &kp PG_DN &kp PG_UP &kp END
                                &none     &none     &none       &kp RET     &kp BSPC  &kp DEL     
            >;
        };
    };
};